@font-face {
  font-family: "Noto Sans";
  src: local("Noto_Sans-Bold"),
    url("/Assets/Fonts/Noto_Sans-Bold.woff2") format("woff2"),
    url("/Assets/Fonts/Noto_Sans-Bold.woff") format("woff"),
    url("/Assets/Fonts/Noto_Sans-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.window.no-bg {
  background: none !important;
  background-image: none !important;
  background-position: initial !important;
  background-size: initial !important;
  background-repeat: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: transparent !important;

  top: 0;
  left: 0;
  padding: 0;

  position: absolute;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: visible;
}

#webamp .window {
  top: 0;
  left: 0;
  padding: 0;

  position: absolute;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0;
  background-color: black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: visible;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  top: 100px;
  left: 100px;
  background-color: rgb(8, 49, 217);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: visible;
  padding: 3px;
}

.window-header-background {
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  pointer-events: none;
  overflow: hidden;
}

.window-header-background::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 1;
  background: linear-gradient(to right, rgb(22, 56, 230) 0%, transparent 100%);
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 15px;
}

.window-header-background::after {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  background: linear-gradient(to left, rgb(22, 56, 230) 0%, transparent 100%);
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 15px;
}

.window-inactive {
  background-color: rgb(101, 130, 245);
}

.window-inactive .window-header-background {
  background: linear-gradient(
    rgb(118, 151, 231) 0%,
    rgb(126, 158, 227) 3%,
    rgb(148, 175, 232) 6%,
    rgb(151, 180, 233) 8%,
    rgb(130, 165, 228) 14%,
    rgb(124, 159, 226) 17%,
    rgb(121, 150, 222) 25%,
    rgb(123, 153, 225) 56%,
    rgb(130, 169, 233) 81%,
    rgb(128, 165, 231) 89%,
    rgb(123, 150, 225) 94%,
    rgb(122, 147, 223) 97%,
    rgb(171, 186, 227) 100%
  );
}

.window-inactive .window-header-buttons {
  opacity: 0.4 !important;
}

.window-inactive .window-header-background::before,
.window-inactive .window-header-background::after {
  opacity: 0.4;
}

.window-header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Noto Sans";
  text-shadow: rgb(0, 0, 0) 1px 1px;
  left: 3px;
  right: 3px;
  -webkit-box-align: center;
}

.window-header img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.window-header-title {
  flex: 1 1 0%;
  pointer-events: none;
  padding-right: 5px;
  letter-spacing: 0.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.window-header-buttons {
  opacity: 1;
  height: 22px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: -1px;
  margin-right: 1px;
}

.header-button {
  margin-right: 1px;
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.header-button--minimize {
  box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(0, 84, 233) 0%,
    rgb(34, 99, 213) 55%,
    rgb(68, 121, 228) 70%,
    rgb(163, 187, 236) 90%,
    white 100%
  );
}

.header-button--minimize:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 13px;
  height: 3px;
  width: 8px;
  background-color: white;
}

.header-button--maximaze {
  box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(0, 84, 233) 0%,
    rgb(34, 99, 213) 55%,
    rgb(68, 121, 228) 70%,
    rgb(163, 187, 236) 90%,
    white 100%
  );
}

.header-button--maximized {
  box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(0, 84, 233) 0%,
    rgb(34, 99, 213) 55%,
    rgb(68, 121, 228) 70%,
    rgb(163, 187, 236) 90%,
    white 100%
  );
}

.header-button--maximaze::before {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 4px;
  box-shadow: white 0px 3px inset, white 0px 0px 0px 1px inset;
  height: 12px;
  width: 12px;
}

.header-button--maximized::before {
  content: "";
  position: absolute;
  display: block;
  left: 7px;
  top: 4px;
  box-shadow: white 0px 2px inset, white 0px 0px 0px 1px inset;
  height: 8px;
  width: 8px;
}

.header-button--maximized::after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 7px;
  box-shadow: white 0px 2px inset, white 0px 0px 0px 1px inset,
    rgb(19, 109, 255) 1px -1px;
  height: 8px;
  width: 8px;
  background-color: rgb(19, 109, 255);
}

.header-button--close {
  box-shadow: rgb(218, 70, 0) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(204, 70, 0) 0%,
    rgb(220, 101, 39) 55%,
    rgb(205, 117, 70) 70%,
    rgb(255, 204, 178) 90%,
    white 100%
  );
}
.header-button--close:before {
  content: "";
  position: absolute;
  left: 9px;
  top: 2px;
  transform: rotate(45deg);
  height: 16px;
  width: 2px;
  background-color: white;
}

.header-button--close::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 2px;
  transform: rotate(-45deg);
  height: 16px;
  width: 2px;
  background-color: white;
}

.header-button--maximaze:hover,
.header-button--minimize:hover,
.header-button--maximized:hover,
.header-button--close:hover {
  filter: brightness(120%);
}

.header-button--maximaze:active,
.header-button--minimize:active,
.header-button--maximized:active,
.header-button--close:active {
  filter: brightness(90%);
}

.window-content {
  flex: 1 1 0%;
  position: relative;
  margin-top: 25px;
  height: calc(100% - 25px);
  overflow: visible;
}
